{% extends 'base.html.twig' %}

{% block title %}
Home
{% endblock title %} 

{% block header %}
 {% include "_navbar.html.twig"%}
{% endblock header %} 

{% block main %}

<h1>My Fabulous Blog</h1>


<article>

    <div class="container-fluid">
        <div class="row">
            {% for row in result %}
            <div class="col-sm-6">
                <div class="card">
                    <img src ="{{asset("images/hipster-cat.jpg")}}" alt="">

                    <a href="{{path('show_single_article', {id:row.id})}}">
                        <h5 class="card-header">{{row.title}}</h5>
                    </a>

                    <div class="card-body">
                            <a href="{{path('show_single_article', {id:row.id})}}">
                            <div class="card-title">Tag: {{row.tag}}</div>
                        </a>
                        <a href="{{path('show_single_article', {id:row.id})}}">
                            <div class="card-text">texte:{{row.content}}</div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
</article>

{% include "_tagbar.html.twig" %} {% endblock %}