img {
  height: 300px;
  width: 300px;
}

body {
  font-family: 'Do Hyeon', sans-serif;
}



h1 {
  display: flex;
  font-size: 5em;
  justify-content: center;
}

.navbar {
  background-color: #c5c5c5;
  height: 60px;
  margin-bottom: 40PX;
}

.navbar button input {
  height: 35px;

}

#carouselExampleIndicators {

  margin-top: 40px;
  margin-bottom: 40px;
}


