{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block header %}
    {% include "_navbar.html.twig" %}
{% endblock %}

{% block main %}
<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Adresse Mail:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="Name">Prénom:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="surname">Nom:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="bio">Bio:</label>
        <textarea name="bio" class="form-control" cols="30" rows="10"></textarea>
      </div>
      <form>
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <input type="file" class="form-control-file">
        </div>
      </form>
    <div class="form-group">
      <label for="old_Password">Ancien Mot de passe:</label>
      <input type="password" name="password" id="old_password" class="form-control">
    </div>
    <div class="form-group">
    <label for="new_Password">Nouveau Mot de passe:</label>
    <input type="password" name="password" id="new_password" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Twitter</label>
    <input type="url" name="twitter" id="twitter" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Facebook</label>
    <input type="url" name="facebook" id="facebook" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Instagram</label>
    <input type="url" name="instagram" id="instagram" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Reddit</label>
    <input type="url" name="reddit" id="reddit" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Linkedin</label>
    <input type="url" name="linkedin" id="linkedin" class="form-control">
  </div>
  <div class="form-group">
    <label for="twitter_rs"> #Youtube</label>
    <input type="url" name="youtube" id="youtube" class="form-control">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary"> Valider </button>
  </div>
  </form>
{% endblock %}
