<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href=" {{path('home')}} ">My Fabuuuuuulous Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href=" {{path('article')}} ">Articles</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Se connecter/Profil
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href=" {{path('manage_article')}} ">Gérer mes articles</a>
              <a class="dropdown-item" href=" {{path('profile')}} ">Mon profil</a>
              <a class="dropdown-item" href="#">Se déconnecter</a>
            </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="#FabulousTag">
        <button class="btn btn-outline my-2 my-sm-0" type="submit">Fab Tag</button>
      </form>
    </div>
  </nav>