{% extends "base.html.twig" %}

{% block title %}
  Article
{% endblock title %}

{% block header %}
  {% include "_navbar.html.twig" %}
{% endblock header %}

{% block main %}

<article>
    <section>
        <h4>{{article.title}}</h4>
        <h6>{{article.tag}}</h6>
        <img src="{{asset("images/hipster-cat.jpg")}}" alt="">
        <p>{{article.content}}</p>
    </section>
</article>
{% endblock main %}