{% extends 'base.html.twig' %}

{% block title %}Gérer mes articles{% endblock %}


{% block header %}

{% include "_navbar.html.twig" %}

{% endblock %}

{% block main %}
    <div id="newArticleBtn">
    <a href="{{path('create')}}"><button class="btn btn-primary offset-md-4 col-md-4 offset-md-4" >Créer article</button></a>
    </div>

    <div class="container-fluid">
        <div class="row">
      {% for row in result %}
      <div class="col-sm-6">
        <div class="card">
           
            <a href="#"><h5 class="card-header">{{row.title}}</h5></a>
            <img src="images/hipster-cat.jpg" alt="">
            <a href="{{path('manage_single_article', {id:row.id})}}"><i class="fas fa-cogs"></i></a>
             
                  <div class="card-body">
                    <a href="#"><div class="card-title">Tag: {{row.tag}}</div></a>
                    <a href="#"><div class="card-text">texte:{{row.content}}</div></a>
                </div>
          </div>
        </div>
      {% endfor %}
      </div>
      </div>

{% endblock %}
