{% extends "base.html.twig" %}

{% block title %}
  Article
{% endblock title %}

{% block header %}
  {% include "_navbar.html.twig" %}
{% endblock header %}

{% block main %}

{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary">Modifier</button>
{{form_end(form)}}

<a class="btn btn-danger" href="{{path('remove_article', {id:article.id})}}">Supprimer</a>
{% endblock main %}